@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&Inconsolata:wght@300&display=swap');

$main-font: Raleway, sans-serif;
$numbers-font: Inconsolata, monospace;

$body-color: rgb(246, 224, 224);
$text-color: rgb(70, 70, 70);
$border-color: rgba(4, 53, 16, 0.8);

html {
  padding: env(safe-area-inset);
}

body {
  background-color: $body-color;
  box-sizing: border-box;
  color: $text-color;
  font-family: $main-font;
  width: 100%;
}

button {
  background-color: inherit;
  border: none;
  color: $text-color;
  font-size: 1.5em;
  opacity: 0.7;
  &:focus {
    opacity: 0.3;
    outline: none;
  }
}

#app {
  align-items: center;
  background: linear-gradient(90deg, rgba(159, 213, 101, 0.6) 0%, rgba(213, 101, 103, 0.6) 45%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  #length-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {      
      font-size: 1.2em;
      line-height: 1em;
      margin: 0em;
      padding: 0;
      text-align: center;
      width: 8rem;
      input {
        background-color: inherit;
        border: none;
        display: inline-block;
        font-family: $numbers-font;
        font-size: 1.3em;
        max-width: 2rem;
        padding: 0.3em;
        text-align: center;
      }
    }
  }

  #timer-controls-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #timer {
      align-items: center;
      display: flex;
      height: 16rem;      
      justify-content: center;
      margin: 1em 0;
      position: relative;
      text-align: center;
      width: 16rem;
      #timer-svg {
        transform: scaleX(-1);
        #timer-circle {
          fill: none;
          stroke: none;
          #timer-circle-outter,
          #timer-circle-inner {
            stroke: rgba(255, 255, 255, 0.5);
            stroke-width: 0.3rem;
          }
          #timer-circle-inner-rem,
          #timer-circle-outer-rem {
            stroke-linecap: round;
            stroke-width: 0.3rem;
            transform: rotate(90deg);
            transform-origin: center; 
            transition: 1s linear all;
          }
        } //#timer-circle
      } //#timer-svg
      #timer-text {      
          position: absolute;
        #timer-label {
          font-size: 1.5em;
        }
        #time-left {
          font-family: $numbers-font;
          font-size: 3em;
          margin-top: 0;
        }
      }
    } //#timer
  } //#timer-controls-wrapper
} //#app
@media screen and (min-width: 560px) {
  #app {
    flex-direction: row;
  }
}